*{
    padding:0;
    margin:0;
    color:white;
}
#navbar{
    height:60px;
    background-color: black;
}
#logo{
    color: #f0884f
}
a{
    margin-right: 200px;
}
button{
    background-color: #f0884f;
}