div{
    height:100px;
    width:100px;
    background-color: blue;
    display:inline-block;
    border:5px solid black;

    
}
#box1{
    position:static;
}
#box2{
    position:relative;
    top:-50px;
    bottom:40px;
    z-index: 4;
}
#box3{
    position:fixed
    top:90px;
    bottom:80px;

}